services:
  db:
    image: postgres:17.5
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  adminer:
    image: adminer
    ports:
      - "8081:8080"

  web:
    build: .
    container_name: expenses-web
    depends_on:
      - db
    ports:
      - "8000:8000"
